.bg{
  background: #dcebf5;
  margin-top: -27px;
.parceldetail {
  margin-left: 43%;
  color: #344767;
  font-size: 35px;
  position: relative;
  top: 28px;
}
.form1 {
  border: 2px solid;
  width: 38%;
  margin-left: 602px;
  margin-top: 61px;
  background:#f5f5f5;
  .inputfield {
    width: 200px;
    margin-left: 85px;
    margin-top: 49px;
    .addParagraph {
      font-size: 20px;
      margin-top: 20px;
      margin-left: 18px;
    }
    .input {
      border: 2px solid #34495e;
      border-radius: 0.5rem;
      width: 485px;
      margin-left: 20px;
      height: 55px;
      font-size: 20px;
      background-color: white;
      color: #34495e;

    }
    .select {
      border: 2px solid #34495e;
      border-radius: 0.5rem;
      width: 485px;
      margin-left: 20px;
      height: 55px;
    }
    .ant-select-selector {
      width: 100%;
      height: 51px;
      padding: 0 11px;
      background-color: #f5f5f5;
      color: #34495e;
      font-size: 20px;
      padding-top: 9px;
    }
  }
  .icon {
    margin-left: 34pc;
    .close {
      font-size: 40px;
      color: red;
      position: relative;
    bottom: 46px;
    }
  }
  .link {
    margin-left: 165px;
    margin-top: 10px;
    margin-bottom: 20px;
    .addbtn {
      background: linear-gradient(135deg, #d49d5e, #ec4b46);
      padding-bottom: 36px;
      text-transform: uppercase;
      padding: 10px 130px 33px;
      color: white;
    }
  }
}
}