.add {
    background: rgb(214, 234, 234);
    height: 56pc;
    padding: 10px;

    .Branch {
        margin-right: 56%;
        padding: 70px;
        bottom: 11px;
        position: relative;
        top: 98px;
        color: #344767;
    }

    .imge {
        float: left;
        width: 63px;
        margin-bottom: -1px;
        position: relative;
        bottom: 138px;
        left: 41px;


    }
}