.service {
  z-index: 1 !important;
  overflow: hidden;
  .our {
    z-index: 1 !important;
    overflow: hidden;
    .t1 {
      color: rgb(35, 35, 152);
      font-weight: 500px;
      font-size: 40px;
      position: relative;
      top: 45px;
      line-height: 1.2;
    }
    .t2 {
      color: rgb(35, 35, 152);
      font-weight: 500px;
      font-size: 40px;
      position: relative;
      line-height: 1.2;
      top: 13px;
    }
  }
  .bg {
    float: left;
    position: relative;
    left: 150px;
    .img1 {
      height: 550px;
    }
  }
  .service2 {
    .row {
      margin: 10px 10px;
      padding: 14px 30px;
      position: relative;
      left: 30px;
      .list {
        .item {
          font-size: 18px;
          position: relative;
          left: 70px;
          top: 106px;
          color: rgb(52, 52, 132);
        }
      }
    }
  }
}
