.report {

  .reportdetail {
    // padding: 10px;
    height: 6pc;
    background-color: white;

    .Reports {
      margin-right: 94pc;
      position: relative;
      top: 39px;
    }
  }

  .link {
    // ext-align: initial;

    margin: 43px;
    margin-left: 16%;
    border: 2px solid;
    width: 79%;
    height: 54px;
    margin-left: 17%;
    border-left: 3px solid orangered;

    .user {
      position: relative;
      top: 14px;
      left: 18px;
      font-size: 18px;
    }
  }

  .BranchReport {

    margin: 43px;
    margin-left: 16%;
    border: 2px solid;
    width: 79%;
    height: 54px;
    margin-left: 17%;
    border-left: 3px solid orangered;

    .branch {
      position: relative;
      top: 14px;
      left: 18px;
      font-size: 18px;
    }
    .option {
      margin-top: -16px;
      margin-left: -66pc;
      .text {
        color: #566787;
        font-size: 15px;
        margin-left: 55%;
      }
    }
    .cal {
      margin-left: 52pc;
      position: relative;
      bottom: 33px
    }
  }
  .button{
    margin-top: -63px;
    margin-left: 69pc;
    .preport{
      color: black;
      background-color: #d2572a;
      padding: 5px 12px 23px;
      margin-left: 34%;
    }
  }
}

