.reportdetail {
  background: rgb(214, 234, 234);
  padding: 10px;
  height: 56pc;
  .Reports {
    margin-right: 104pc;
    position: relative;
    top: 39px;
    color: #333333;
    font-size: 25px;
    left: 19%;
  }
.link {
  text-align: initial;
  width: 76%;
  border: 2px solid black;
  padding: 20px;
  margin: 43px;
  margin-left: 18%;
  .branch {
    color: #b84217;
    font-size: 20px;
    text-decoration: none;
  }
}
.select {
  margin-top: -93px;
  margin-left: -580px;
  .text {
    color: #566787;
    font-size: 15px;
    margin-left: 55%;
  }
}
.date {
  margin-left: 64%;
  margin-top: -29px;
}
.btn {
  margin-top: -32px;
  margin-left: 69pc;
  .parcel_report {
    color: #000000;
    background-color: #d2572a;
    padding: 5px 12px 23px;
    margin-left: 59%;
  }
}

.BranchReport {
  text-align: initial;
  width: 76%;
  border: 2px solid black;
  padding: 20px;
  margin: 43px;
  margin-left: 18%;
  .staff {
    color: #b84217;
    font-size: 20px;
    text-decoration: none;
  }
}
}