.header {
  height: auto;
  width: auto;
  .side-nav {
    width: 250px;
    height: 100%;
    // background: #0d74f5;
    background: rgb(22, 20, 20);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    .title {
      font-size: 32px;
      margin-top: 0px;
      float: left;
      color: white;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    .link {
      border: none;
      .col {
        margin-top: 106px;
        margin-left: 51px;
        .dash {
          font-size: 25px;
          font-weight: 400;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          color: white;
          display: block;
          padding: 18px 0px;
          margin-left: -21px;
        }
        // .dash:hover {
        //   background: #EB3600;
        //   border-radius: 10px;
        // }
      }
    }
  }
}
