  .add {
   
    height: 55pc;
    padding: 10px;
    margin-left: 16%;
    background: rgb(214, 234, 234);
      .Branch {
        margin-right: 69%;
        padding: 33px;
      }

      .Action {
        margin-right: 78%;
        font-size: 21px;
        font-weight: bold;

      }

      .BranchName {
        right: 30%;
        bottom: 24px;
        font-size: 20px;
        font-weight: bold;
      }

      .Address {
        right: 20%;
        bottom: 46px;
        font-size: 20px;
        font-weight: bold;
      }

      .ContatNumber {
        right: 10%;
        bottom: 70px;
        font-size: 20px;
        font-weight: bold;
      }

      .E-Mail {
        left: 2px;
        bottom: 89px;
        font-size: 20px;
        font-weight: bold;
      }

      .City {
        left: 7%;
        bottom: 114px;
        font-size: 20px;
        font-weight: bold;
      }

      .ZipCode {
        left: 14%;
        bottom: 138px;
        font-size: 20px;
        font-weight: bold;

      }
    }
